.cardsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: white;
  border-radius: 1rem;

  margin: 0 auto;

  padding-top: 12px;
  padding-bottom: 24px;
}

.card {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.card img {
  display: block;
  height: auto;
  width: 65%;
  border-radius: 1rem;

  margin: auto;
  margin-bottom: 1rem;

  box-shadow: var(--box-shadow);
}

.card h4 {
  display: block;
  font-family: var(--title-family);
  font-size: var(--title-small);
  color: var(--turquoise);

  white-space: nowrap;

  text-align: center;
}

.card p {
    font-family: var(--text-family);
    font-size: var(--font-base);
    color: var(--gray);

    line-height: 1.2;
}

.card button {
  font-family: var(--text-family);
  font-weight: 500;
  font-size: var(--font-base);

  background-color: var(--turquoise);
  color: white;

  padding: 12px;
  border-radius: 0.5rem;
  border: none;

  margin: 0 auto;

  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 1024px) {
  .cardsContainer {
    flex-direction: row;
    margin: auto;
    padding-top: 12px;
    transform: translateY(-50px);
  }

  .card {
    display: flex;
    height: auto;
    width: 33%;
    flex-direction: column;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  .card button {
        margin: 0;

        width: 80px;
  }

  .card img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 1rem;
  
    margin: auto;
    margin-bottom: 1rem;
  
    box-shadow: var(--box-shadow);
  }
  
  .card h4 {
    display: block;
    font-family: var(--title-family);
    font-size: var(--title-small);
    color: var(--turquoise);
  
    white-space: nowrap;
  
    text-align: left;
  }
  
  .card p {
    text-align: left;
  }
}
