.cardsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: white;
  border-radius: var(--border-radius);

  margin: var(--x-distance) auto;

  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);
  padding-left: var(--x-distance);
  padding-right: var(--x-distance);
}

.card {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;

  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);
  padding-left: var(--x-distance);
  padding-right: var(--x-distance);

  margin-left: auto;
  margin-right: auto;
  margin-top: var(--y-distance);
  margin-bottom: var(--y-distance);
}

.card img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius);

  margin: auto;

  box-shadow: var(--box-shadow);
}

.card h4 {
  display: block;
  font-family: var(--title-family);
  font-size: var(--title-small);
  color: var(--turquoise);

  white-space: nowrap;

  text-align: left;

  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);

}

.card p {
  font-family: var(--text-family);
  font-size: var(--font-base);
  color: var(--gray);

  line-height: var(--line-height-p);

  text-align: left;

  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);

}

.card button {
  font-family: var(--text-family);
  font-weight: 500;
  font-size: var(--font-base);
  width: fit-content;

  background-color: var(--turquoise);
  color: white;

  padding: var(--button-padding);
  border-radius: var(--border-radius);
  border: none;

  margin: var(--y-distance) 0;

  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 680px) {
  .cardsContainer {
    flex-direction: row;
    margin: auto;
    padding-top: var(--y-distance);
    padding-bottom: var(--y-distance);
    padding-left: var(--x-distance);
    padding-right: var(--x-distance);

    border-radius: 2rem;
  }

  .card {
    width: 33%;
  }

  .card button {
    padding: var(--button-padding);
  }
}
