.destacados h2 {
  line-height: var(--line-height-h);
  text-align: left;

  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);
  padding-left: var(--x-distance);
  padding-right: var(--x-distance);

  white-space: nowrap;
}

@media screen and (min-width: 680px) {
  .destacados h2 {
    font-size: var(--title-big);
    text-align: left;

    padding-left: 0;
    padding-right: 0;
  }
}
