header {
  display: flex;
  width: 100%;
  height: auto;
  max-width: var(--wrapper);

  flex-direction: column;

  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);
  padding-left: var(--x-distance);
  padding-right: var(--x-distance);
}

header h1 {
  display: block;
  font-size: var(--title-small);
  font-family: var(--title-family);
  white-space: nowrap;
  color: white;

  max-width: var(--wrapper);
}

header p {
  display: none;
}

@media screen and (min-width: 680px) {
  header h1 {
    font-size: var(--title-big);
  }
}

@media screen and (min-width: 750px) {
  header {
    margin-bottom: 8%;
  }
  header p {
    display: block;
    font-size: var(--font-base);
    font-family: var(--text-family);
    color: white;

    max-width: 640px;

    text-align: left;

    padding-top: var(--y-distance);
    padding-bottom: var(--y-distance);
    padding-left: var(--x-distance);
    padding-right: var(--x-distance);
  }
}
