.no-wrapper {
  width: 100%;

  background-image: url("/public/images/inicio/fondo-ola.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 12px;
  padding-bottom: 12px;

}

.no-wrapper > div > p {
  font-size: 1.5rem;
  font-family: var(--title-family);
  color: white;

  line-height: 1.1;
}

@media screen and (min-width: 1024px) {


    .no-wrapper { 
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  .no-wrapper > div > p {
    max-width: 640px;
    line-height: 1.4;
    margin: 0 auto;

    font-size: 2rem;
  }


  
}
