.advertence {
  margin: var(--y-distance) 0;
}

.advertence > p {
  line-height: var(--line-height-p);
  text-align: left;

  max-width: 640px;

  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);
  padding-left: var(--x-distance);
  padding-right: var(--x-distance);
}

.advertence > h4 {
  padding-top: var(--y-distance);
  padding-bottom: var(--y-distance);
  padding-left: var(--x-distance);
  padding-right: var(--x-distance);

  text-align: left;
}

@media screen and (min-width: 680px) {
  .advertence {
    margin: var(--y-distance-large) 0;
  }

  .advertence > p {
    line-height: var(--line-height-p);
    text-align: left;

    padding-left: 0;
    padding-right: 0;
    
  }

  .advertence > h4 {
    text-align: left;

    padding-left: 0;
    padding-right: 0;
  }
}
