
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;

}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    height: auto;

    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


p {
    font-family: var(--text-family);
    font-size: var(--font-base);
    color: var(--gray);

    padding: 12px;
    text-align: center;
}


h1, h2 {
    font-family: var(--title-family);
    font-size: var(--title-small);


}


h3, h4 {
    font-family: var(--title-family);
    font-size: var(--title-small);
    color: var(--turquoise);
}

h2 {
    color: var(--yellow);
}